@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, coffee, black;
}

/* hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

@keyframes float-slow {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 9s ease-in-out infinite;
}

@font-face {
  font-family: "brigends";
  src: url("./assets/RacingSportDisplay-Regular.otf") format("truetype");
  font-style: normal;
}

@theme{
   --font-brigends:"brigends", "sans-serif"
}